header{
      padding: 1rem;
      border-bottom: 2px solid var(--white);
      color: var(--white);
      text-align: center;
      font-size: 30px;
      text-shadow: 0 2.5px 0 var(--blue);
      margin-bottom: 1rem;
}