:root{
  --white: #fff;
  --background: #1C1B1B;
  --blue: #068FFF;
  --green: #00FF66;
  --red: #FF0022;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: var(--background);
}